    {% extends "./customer_payments_home_page.html" %}


    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'customer_payments:customer_payment_home' %}">BACK to Customer Payment Home Page(FOR FARMS)</a>
                </li>
        </ul>
    </nav>
    {% endblock %}



    {% block content %}

    <h3>All Customer Payments </h3>

    {% if customer_payments %}
    <ul style="width: 35rem;">
        {% for customer_payment in customer_payments %}
        <li style="display: flex; background-color: greenyellow; margin-bottom: 2rem;">
            <a style="margin: .5rem;" href="{{ customer_payment.get_absolute_url }}">{{ customer_payment.pay_reference }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>No Customer Payments Made Yet</h3>
    {% endif %}

    {% endblock %}