    {% extends "./customer_contracts_home_page.html" %}


    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'customer_contracts:home_customer_contact' %}">BACK to Customer Contract Home Page</a>
                </li>
        </ul>
    </nav>
    {% endblock %}



    {% block content %}

    <h3>Add new Customer Contract (CUSTOMER CONTRACT CREATE PAGE)</h3>

    <form action="" method="post"> {% csrf_token %}
        {{ customer_contract_create_form.as_p}}
        <input type="submit" value="Raise Cust. Interest">
    </form>

    {% endblock %}