    {% extends "./customer_contracts_home_page.html" %}


    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'customer_contracts:home_customer_contact' %}">BACK to Customer Contract -SALES PLATFORM</a>
                </li>
        </ul>
    </nav>
    {% endblock %}



    {% block content %}

    <h3>All AGV Customer Contracts</h3>

    {% if customer_contracts %}
    <ul style="width: 35rem;">
        {% for customer_contract in customer_contracts %}
        <li style="display: flex; background-color: greenyellow; margin-bottom: 2rem;">
            <a style="margin: .5rem;" href="{{ customer_contract.get_absolute_url }}">{{ customer_contract.customer }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>No Customer Contract Not Generated Yet</h3>
    {% endif %}

    {% endblock %}