    {% extends "./farm_contracts_home_page.html" %}


    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'farm_contracts:farm_contact_home' %}">BACK to Farm Contract Home Page</a>
                </li>
                <li class="nav_li">
                    <a href="{% url 'farm_contracts:farm_contracts_list' %}">All  Farm Contracts</a>
                </li>
        </ul>
    </nav>
    {% endblock %}



    {% block content %}
    <h3>UPDATE Farm Contract(FARM CONTRACT UPDATE PAGE)</h3>
    <form action="" method="post"> {% csrf_token %}
        {{ farm_contract_update_form.as_p}}
        <input type="submit" value="UPDATE FARM CONTRACT">
    </form>
    {% endblock %}