<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block base_title %} <title>SALES Farm Contract</title>{% endblock %}
</head>
<body>

    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'sales_platform' %}">BACK SALES PLATFORM</a>
                </li>
                <li class="nav_li">
                    <a href="{% url 'farm_contracts:farm_contracts_list' %}">All Fam Contracts</a>
                </li>
                <li class="nav_li">
                    <a href="{% url 'farm_contracts:farm_contract_create' %}">Gen New Farm Contract</a>
                </li>
        </ul>
    </nav>
    {% endblock %}

    {% block content %}
        <h1>This is the HOME PAGE of the FARM CONTRACT APP from SALES PLATFORM</h1>
    {% endblock %}


    </body>
    </html>