    {% extends "./transporters_home_page.html" %}


    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'transporters:transporters_home' %}">BACK to Transporters Home Page</a>
                </li>
        </ul>
    </nav>
    {% endblock %}



    {% block content %}

    <h3>Add New Transporter (TRANSPORTER CREATE PAGE)</h3>

    <form action="" method="post"> {% csrf_token %}
        {{ transporter_create_form.as_p }}
        <input type="submit" value="ADD NEW TRANSPORTER">
    </form>

    {% endblock %}