    {% extends "./drivers_home_page.html" %}


    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'drivers:drivers_home' %}">BACK to Drivers Home Page</a>
                </li>
        </ul>
    </nav>
    {% endblock %}



    {% block content %}

    <h3>Add new Driver (ADDING NEW DRIVER)</h3>

    <form action="" method="post"> {% csrf_token %}
        {{ driver_create_form.as_p }}
        <input type="submit" value="ADD NEW DRIVER">
    </form>

    {% endblock %}