<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block base_title %} <title>Crop Stock Home Page</title>{% endblock %}
</head>
<body>

    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'farms_platform' %}">BACK FARMS PLATFORM</a>
                </li>
                <li class="nav_li">
                    <a href="{% url 'crop_stocks:crops_stock_list' %}">All Farms' Crop Stocks</a>
                </li>
                <li class="nav_li">
                    <a href="{% url 'crop_stocks:crop_stock_create' %}">Add New Crop Stock</a>
                </li>
        </ul>
    </nav>
    {% endblock %}

    {% block content %}
        <h1>This is the HOME PAGE of the CROP STOCK APP from FARMS PLATFORM</h1>
    {% endblock %}


    </body>
    </html>