    {% extends "./crop_stocks_home_page.html" %}


    {% block app_navigation %}
    <nav class="nav">
        <ul class="nav_ul">
                <li class="nav_li">
                    <a href="{% url 'crop_stocks:crop_stock_home' %}">BACK to Crop Stock Home Page</a>
                </li>
        </ul>
    </nav>
    {% endblock %}



    {% block content %}

    <h3>Add new Crop Stock (CROP STOCK CREATE PAGE)</h3>

    <form action="" method="post"> {% csrf_token %}
        {{ crop_stock_create_form.as_p}}
        <input type="submit" value="ADD CROP STOCK">
    </form>

    {% endblock %}